doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        title Accueil
        link(rel='icon' type='image/x-icon' href='assets/favicon.ico')
        link(rel='icon' type='image/svg' href='https://abid.alwaysdata.net/shared_Media/Teilen_logo.svg')
        link(href='css/styles.css' rel='stylesheet')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
        style.

            body{
                padding-top: 0px;
                width: 100%;
                margin: auto;
                background-color: rgb(255, 250, 243 );
                

            }
            #navbar{
                color:white;
            }
            .row.no-gutters{
                margin:30px;
                box-sizing: border-box;
                border-radius: 6px;
                padding: 20px;
                border-color: gray;
                box-shadow: 1px 1px 1px 1px gray;
                background: white ;
            }
            .list-group{
                border-radius :15px;
                margin: 4px;
                background-color: gray;
            }
            .groupe{
                box-sizing: border-box;
                border-radius: 6px;
                border-color: black;
                background: rgb(232, 216, 204) ;
                margin:10px;
                padding: 20px;
                box-shadow: 1px 1px 1px 1px #B06300;
            }
            .groupe2{
                box-sizing: border-box;
                border-radius: 6px;
                border-color: black;
                background: rgb(232, 216, 204) ;
                margin:10px;
                padding: 20px;
                box-shadow: 1px 1px 1px 1px #B06300;
            }
            .col-md-7.me-auto{
                border-radius: 10px;
 
                         
            }
            a.list-group-item.list-group-item-action{
                background: white;
            }
            .texte{
                color: black;
                box-sizing: border-box;
                border-radius: 5px;
                box-shadow: 1px 2px 1px 1px black;
                box-sizing: border-box;
                margin:30px;
            }
            .btn-circle {
                width: 1.875rem;
                height: 1.875rem;
                text-align: center;
                padding: 0.375rem 0;
                font-size: 0.75rem;
                line-height: 1.428571429;
                border-radius: 0.938rem;
                }
        
            .badge{
                color:rgb(24, 23, 23);
                background: rgb(231, 159, 60);
            }

            .bouton:hover{ 
                color: #D87F21;
            }
            .btn1{
                border: none;
                outline: none;
                height: 50px;
                width: 100%;
                background-color: rgb(232, 216, 204);
                color: black;
                border-radius: 4px;
                font-weight: bold;
            }
            .btn1:hover{
                background: black;
                border: 1px solid;
                color: white;
            }
            label {
                display: block;
                font: 1rem 'Fira Sans', sans-serif;
            }

            input,
            label {
                margin: .4rem 0;
            }
            #start{
                border-radius:5px;
                margin:2px;
    
            }
            #appt{
                border-radius:5px;
                margin:2px;
            }
            .btn.btn-primary{
                box-sizing: border-box;
                border-radius: 8px;
                border-color: black;
                background: rgb(232, 216, 204) ;
                margin:3px;
                padding: 4px;
                box-shadow: 1px 1px 1px 1px #D37600;
                color:black;
            }
            .btn.btn-primary:hover{
                background: black;
                border: 1px solid;
                color: white;
            }
            .form-select-sm{
                border-radius: 9px;
            }



    body

            nav.navbar.navbar.sticky-top.navbar-dark.bg-dark
                .container-fluid
                    a.navbar-brand(href='/')
                        img(src='https://abid.alwaysdata.net/shared_Media/Teilen_logo.svg' alt='' width='30' height='24')
                        |Tailen
                    .d-grid.gap-2.d-md-flex.justify-content-md-end
                        a.btn.btn-secondary.btn-sm(href='#' role='button' data-bs-toggle='button') Profil
                        a.btn.btn-secondary.btn-sm(href='#' role='button' data-bs-toggle='button') Contact
                        a.btn.btn-secondary.btn-sm.btn-danger(href='/deconnect' role='button' data-bs-toggle='button') Deconnect

            .container-fluid
                .row
                    .col-md-2.me-auto
                        .w-40.sticky-top
          
                    .col-md-6.me-auto
                        .well
                            .row.no-gutters(style="background-color:rgb(232, 216, 204);")
                                h3(style="color:black;")=`Welcom ${user.pseudo} to your profil`
                            .row.no-gutters
                                h5 Add a post
                                hr
                                
                                form(action="/add_post?redirect_root=profil" method="POST")
                                        .groupe
                                            span Write your post :
                                            input.form-control(type='text' name="content" placeholder=`whatsup , ${user.pseudo} ?` aria-label='default input example' style="margin:5px;",required)
                                            br
                                            i.fa.fa-link.fa-fw(aria-hidden='true')
                                            span(style="font-style: oblique 40deg; margin:3px;") Add a link :                                   
                                            input.form-control(type='url' name="image_link" placeholder="image link https://example.com/image.jpg"  pattern="https://.*" aria-label='With textarea' style="margin:5px border-radius:2px;")
                                            br
                                            span Select your post tag :
                                            br
                                            .row
                                            select.form-select-sm(name="tag_from_list" aria-label='Default select example',required)
                                                - for(let i = 0; i < post_tags.length; i++)
                                                    option(value=post_tags[i].tag)=post_tags[i].tag
                                                option(value='other') Not in the list
                                            span(style="font-style: oblique 40deg; margin:5px;") Not in the list ?
                                            input.form-control-sm(type='text' name="tag_new" placeholder="Write it here"  style="margin:5px border-radius:2px;")
                                        hr
                                        input(type="submit" class="btn1 mt-3 mb-5" value="Add it")

                            -for(var i = 0; i < posts.length; i++)
                                .row.no-gutters(id=`post${posts[i].id}`)
                                    .row
                                        .col-11
                                        .col-1
                                            span.badge.rounded-pill.text=posts[i].tag
                                    .row       
                                    h5(style="font-weight: bold;")=posts[i].pseudo
                                    small=posts[i].date
                                    h6=posts[i].content
                                    if(posts[i].image_link)
                                        p(style="text-align:center;")
                                            img(src=posts[i].image_link width="100%")
                                    hr
                                    div(style="width:80%; margin:auto;")
                                        .row
                                            .col-6
                                                
                                                form(action=`/add_react?post_id=${posts[i].id}&react=1&redirect_root=profil` method='POST')
                                                    button.btn.bouton(type='submit')
                                                        span.badge.bg-light=posts[i].ups
                                                        -if(posts[i].user_reaction==-1)
                                                            i.fa.fa-thumbs-o-up.fa-fw(aria-hidden='true')
                                                            span Like
                                                        -if(posts[i].user_reaction==0)
                                                            i.fa.fa-thumbs-o-up.fa-fw( aria-hidden='true')
                                                            span Like
                                                        -if(posts[i].user_reaction==1)
                                                            i.fa.fa-thumbs-o-up.fa-fw(style="color:#D87F21;" aria-hidden='true')
                                                            span(style="color:#D87F21;") Like
                                                    
                                                
                                            .col-6
                                                form(action=`/add_react?post_id=${posts[i].id}&react=0&redirect_root=profil` method='POST')
                                                    button.btn.bouton(type='submit')
                                                        span.badge.bg-light=posts[i].downs
                                                        -if(posts[i].user_reaction==-1)
                                                            i.fa.fa-thumbs-o-down.fa-fw(aria-hidden='true')
                                                            span Dislike
                                                        -if(posts[i].user_reaction==0)
                                                            i.fa.fa-thumbs-o-down.fa-fw(style="color:#D87F21;" aria-hidden='true')
                                                            span(style="color:#D87F21;") Dislike
                                                        -if(posts[i].user_reaction==1)
                                                            i.fa.fa-thumbs-o-down.fa-fw( aria-hidden='true')
                                                            span Dislike
                                            hr    
                                        span.badge.rounded-pill.bg-light.text-dark Comments :

                                        -for(var j = 0; j < posts[i].comments.length; j++)
                                            .list-group
                                                a.list-group-item.list-group-item-action(aria-current='true' id=`comment${posts[i].comments[j].id}` style="background-color:rgb(246, 243, 241);")
                                                    .d-flex.w-100.justify-content-between
                                                        h6(style="font-weight: bold;")=`${posts[i].comments[j].pseudo} : `
                                                        small=posts[i].comments[j].date
                                                    p.mb-1=posts[i].comments[j].content

                                        form(action=`/add_comment?post_id=${posts[i].id}&redirect_root=profil` method="POST")
                                            .row
                                                .col-10
                                                    input.form-control(type='text' name="comment" placeholder="Write your comment here" aria-label='default input example' style="margin:8px",required='')
                                                .col-2
                                                    input.form-control(type='submit' value="Add" aria-label='default input example' style="margin:8px")                                                    

                    .col-md-2.me-auto
                        .w-25.sticky-top
                            div(style="height: 60px;")
                            .well 
                                p           